:root { --gjs-left-width: 0%; }


@tailwind base;
@tailwind components;
@tailwind utilities;
.gs-editor-gjs {
    border: none;
  }
  
  .gs-top-active .gs-cmp-button {
    background-color: white;
    color: #8a5cf5;
  }
  
  .gs-studio-editor .dash-bg-color {
    background-color: #f0f1f5;
  }
  
  .gs-studio-editor .dash-select-field > button > .gs-utl-card {
    background-color: transparent;
    border: none;
  }
  
  .gs-studio-editor .gjs-frame-wrapper {
    transition: none;
  }